In [33]:
import pandas as pd
from typing import List, Dict
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
df = pd.read_parquet('datasets/dfgames.parquet')
df_reviews = pd.read_parquet('datasets/user_reviews.parquet')
df_items = pd.read_parquet('datasets/users_item.parquet')
df_reviews_csv = pd.read_csv('datasets/user_reviews.csv')

In [30]:
df

,app_name,price,id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,year
0,Lost Summoner Kitty,4.99,761140,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
1,Ironbound,0.00,643980,Secret Level SRL,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,Real Pool 3D - Poolians,0.00,670290,Poolians.com,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,2017
3,弹炸人2222,0.99,767400,彼岸领域,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
4,Battle Royale Trainer,3.99,772540,Trickjump Games Ltd,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27705,Kebab it Up!,1.99,745400,Bidoniera Games,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2018
27706,Colony On Mars,1.99,773640,"Nikita ""Ghost_RUS""",0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018
27707,LOGistICAL: South Africa,4.99,733530,Sacada,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2018
27708,Russian Roads,1.99,610660,Laush Dmitriy Sergeevich,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
27709,EXIT 2 - Directions,4.99,658870,"xropi,stev3ns",0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2017

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27710 entries, 0 to 27709
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   app_name                   27710 non-null  object
 1   price                      27710 non-null  float32
 2   id                         27710 non-null  int32
 3   developer                  27710 non-null  object
 4   Accounting                 27710 non-null  int32
 5   Action                     27710 non-null  int32
 6   Adventure                  27710 non-null  int32
 7   Animation &amp; Modeling   27710 non-null  int32
 8   Audio Production           27710 non-null  int32
 9   Casual                     27710 non-null  int32
 10  Design &amp; Illustration  27710 non-null  int32
 11  Early Access               27710 non-null  int32
 12  Education                  27710 non-null  int32
 13  Free to Play               27710 non-null  int32
 14  Indie                      27710 non-null  int32
 15  Massively Multiplayer      27710 non-null  int32
 16  Photo Editing              27710 non-null  int32
 17  RPG                        27710 non-null  int32
 18  Racing                     27710 non-null  int32
 19  Simulation                 27710 non-null  int32
 20  Software Training          27710 non-null  int32
 21  Sports                     27710 non-null  int32
 22  Strategy                   27710 non-null  int32
 23  Utilities                  27710 non-null  int32
 24  Video Production           27710 non-null  int32
 25  Web Publishing             27710 non-null  int32
 26  year                       27710 non-null  int32
dtypes: float32(1), int32(24), object(2)
memory usage: 3.1+ MB

In [32]:
df_items

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5170009,76561198329548331,346330,BrainBread 2,0
5170010,76561198329548331,373330,All Is Dust,0
5170011,76561198329548331,388490,One Way To Die: Steam Edition,3
5170012,76561198329548331,521570,You Have 10 Seconds 2,4
5170013,76561198329548331,519140,Minds Eyes,3

In [13]:
df_reviews

                 user_id  item_id  recommend  posted year  sentiment_analysis
0      76561197970982479     1250       True         2011                   2
1      76561197970982479    22200       True         2011                   1
2      76561197970982479    43110       True         2011                   2
3                js41637   251610       True         2014                   2
4                js41637   227300       True         2013                   2
...                  ...      ...        ...          ...                 ...
49181            wayfeng      730       True         2015                   1
49182  76561198251004808   253980       True         2015                   2
49183        72947282842      730       True         2015                   1
49184          ApxLGhost      730       True         2015                   2
49185  76561198267374962   369200       True         2015                   2

[49186 rows x 5 columns]

In [23]:
df_reviews

                 user_id  item_id  recommend  posted year  sentiment_analysis
0      76561197970982479     1250       True         2011                   2
1      76561197970982479    22200       True         2011                   1
2      76561197970982479    43110       True         2011                   2
3                js41637   251610       True         2014                   2
4                js41637   227300       True         2013                   2
...                  ...      ...        ...          ...                 ...
49181            wayfeng      730       True         2015                   1
49182  76561198251004808   253980       True         2015                   2
49183        72947282842      730       True         2015                   1
49184          ApxLGhost      730       True         2015                   2
49185  76561198267374962   369200       True         2015                   2

[49186 rows x 5 columns]

In [28]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49186 entries, 0 to 49185
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             49186 non-null  category
 1   item_id             49186 non-null  int32
 2   recommend           49186 non-null  bool
 3   posted year         49186 non-null  int32
 4   sentiment_analysis  49186 non-null  int32
dtypes: bool(1), category(1), int32(3)
memory usage: 1.4 MB

In [21]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5153209 entries, 0 to 5170013
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           category
 1   item_id           int32
 2   item_name         category
 3   playtime_forever  int32
dtypes: category(2), int32(2)
memory usage: 111.0 MB

In [26]:
df_reviews_csv

                 user_id  item_id  recommend  posted year  sentiment_analysis
0      76561197970982479     1250       True         2011                   2
1      76561197970982479    22200       True         2011                   1
2      76561197970982479    43110       True         2011                   2
3                js41637   251610       True         2014                   2
4                js41637   227300       True         2013                   2
...                  ...      ...        ...          ...                 ...
49181            wayfeng      730       True         2015                   1
49182  76561198251004808   253980       True         2015                   2
49183        72947282842      730       True         2015                   1
49184          ApxLGhost      730       True         2015                   2
49185  76561198267374962   369200       True         2015                   2

[49186 rows x 5 columns]

In [27]:
df_reviews_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49186 entries, 0 to 49185
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             49186 non-null  object
 1   item_id             49186 non-null  int64
 2   recommend           49186 non-null  bool
 3   posted year         49186 non-null  int64
 4   sentiment_analysis  49186 non-null  int64
dtypes: bool(1), int64(3), object(1)
memory usage: 1.5+ MB

In [51]:
def developer(desarrollador: str) -> Dict[str, List[Dict[str, str]]]:
    cols_1 = ['developer', 'price', 'year']
    df = pd.read_parquet('datasets/dfgames.parquet', columns=cols_1)
    # Convertir el nombre del desarrollador a minúsculas para manejar de manera consistente las cadenas de texto
    desarrollador = desarrollador.lower()

    # Filtrar los juegos del desarrollador
    df_dev = df[df['developer'].str.lower() == desarrollador]
    
    # Calcular la cantidad de items y porcentaje de contenido Free por año
    result = []
    for year in sorted(df_dev['year'].unique(), reverse=True):  # Ordenar los años de manera descendente
        df_year = df_dev[df_dev['year'] == year]
        total_items = len(df_year)
        free_items = len(df_year[df_year['price'] == 0])
        free_percentage = (free_items / total_items) * 100
        result.append({"Año": year, "Cantidad de Items": total_items, "Contenido Free": f"{free_percentage}%"})
    
    # Convertir la lista de resultados en un DataFrame
    df_result = pd.DataFrame(result)
    
    return df_result

In [53]:
developer('valve')

     Año  Cantidad de Items      Contenido Free
0   2017                  2                0.0%
1   2016                  1              100.0%
2   2014                  1              100.0%
3   2012                  2               50.0%
4   2011                  1                0.0%
5   2010                  2               50.0%
6   2009                  1                0.0%
7   2008                  1                0.0%
8   2007                  3  33.33333333333333%
9   2006                  2                0.0%
10  2005                  1              100.0%
11  2004                  5                0.0%
12  2003                  1                0.0%
13  2001                  1                0.0%
14  2000                  2                0.0%
15  1999                  1                0.0%
16  1998                  1                0.0%

In [74]:
def userdata(user_id: str):
    # Cargar los DataFrames desde archivos parquet
    df = pd.read_parquet('datasets/dfgames.parquet')[['id', 'price']]
    df_reviews = pd.read_parquet('datasets/user_reviews.parquet')[['user_id', 'item_id', 'recommend']]
    df_items = pd.read_parquet('datasets/users_item.parquet')[['user_id', 'item_id']]
    # Filtrar las reviews del usuario
    user_reviews = df_reviews[df_reviews['user_id'] == user_id]

    # Calcular la cantidad de dinero gastado por el usuario
    user_items = df_items[df_items['user_id'] == user_id]
    user_spent = df[df['id'].isin(user_items['item_id'])]['price'].sum()

    # Calcular el porcentaje de recomendación
    recommend_pct = user_reviews['recommend'].mean() * 100

    # Calcular la cantidad de items
    item_count = user_items.shape[0]

    # Crear el diccionario de respuesta
    response = {
        "Usuario": user_id,
        "Dinero gastado": f"{user_spent} USD",
        "% de recomendación": f"{recommend_pct}%",
        "cantidad de items": item_count
    }

    return response

In [75]:
userdata('ApxLGhost')

{'Usuario': 'ApxLGhost',
 'Dinero gastado': '114.97000122070312 USD',
 '% de recomendación': '100.0%',
 'cantidad de items': 8}

In [69]:
def userdata(user_id: str):

    # Filtrar las reviews del usuario lo antes posible
    user_reviews = df_reviews[df_reviews['user_id'] == user_id]

    # Filtrar los items del usuario lo antes posible
    user_items = df_items[df_items['user_id'] == user_id]

    # Calcular la cantidad de dinero gastado por el usuario
    user_spent = df.loc[df['id'].isin(user_items['item_id']), 'price'].sum()

    # Calcular el porcentaje de recomendación
    recommend_pct = user_reviews['recommend'].mean() * 100

    # Calcular la cantidad de items
    item_count = user_items.shape[0]

    # Crear el diccionario de respuesta
    response = {
        "Usuario": user_id,
        "Dinero gastado": f"{user_spent} USD",
        "% de recomendación": f"{recommend_pct}%",
        "cantidad de items": item_count
    }

    return response

In [96]:
def best_developer_year(año: int):

    # Cargar los DataFrames desde archivos parquet
    df = pd.read_parquet('datasets/dfgames.parquet')[['id', 'developer', 'year']]
    df_reviews = pd.read_parquet('datasets/user_reviews.parquet')[['item_id', 'recommend']]

    # Filtrar los juegos del año dado
    year_games = df[(df['year']) == int(año)]

    # Filtrar las reviews de los juegos del año dado que fueron recomendados
    recommended_reviews = df_reviews[(df_reviews['item_id'].isin(year_games['id'])) & (df_reviews['recommend'] == True)]

    # Calcular la cantidad de recomendaciones por juego
    game_recommendations = recommended_reviews['item_id'].value_counts()

    # Asignar la cantidad de recomendaciones a cada juego
    year_games['recommendations'] = year_games['id'].map(game_recommendations)

    # Calcular la cantidad de recomendaciones por desarrollador
    developer_recommendations = year_games.groupby('developer')['recommendations'].sum()

    # Encontrar el top 3 de desarrolladores
    top_developers = developer_recommendations.nlargest(3)

    # Crear la lista de desarrolladores
    developer_list = [{"Puesto " + str(i+1): developer} for i, (developer, _) in enumerate(top_developers.items())]

    return developer_list

In [101]:
best_developer_year('2017')

C:\Users\castr\AppData\Local\Temp\ipykernel_20488\1988121830.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_games['recommendations'] = year_games['id'].map(game_recommendations)

[{'Puesto 1': 'Smartly Dressed Games'},
 {'Puesto 2': 'Freejam'},
 {'Puesto 3': 'Studio Wildcard,Instinct Games,Efecto Studios,Virtual Basement LLC'}]

In [100]:
def best_developer_year(año: int):

    # Cargar los DataFrames desde archivos parquet
    df = pd.read_csv('datasets/steam_games.csv')[['id', 'developer', 'Year']]
    df_reviews = pd.read_csv('datasets/user_reviews.csv')[['item_id', 'recommend']]

    # Filtrar los juegos del año dado
    year_games = df[df['Year'] == int(año)]

    # Filtrar las reviews de los juegos del año dado que fueron recomendados
    recommended_reviews = df_reviews[(df_reviews['item_id'].isin(year_games['id'])) & (df_reviews['recommend'] == True)]

    # Calcular la cantidad de recomendaciones por juego
    game_recommendations = recommended_reviews['item_id'].value_counts()

    # Asignar la cantidad de recomendaciones a cada juego
    year_games['recommendations'] = year_games['id'].map(game_recommendations)

    # Calcular la cantidad de recomendaciones por desarrollador
    developer_recommendations = year_games.groupby('developer')['recommendations'].sum()

    # Encontrar el top 3 de desarrolladores
    top_developers = developer_recommendations.nlargest(3)

    # Crear la lista de desarrolladores
    developer_list = [{"Puesto " + str(i+1): developer} for i, (developer, _) in enumerate(top_developers.items())]

    return developer_list

In [102]:
def best_developer_year_func(year:int):
    # Carga los datos de los juegos de steam
    steam_games = pd.read_csv('./datasets/steam_games.csv')
    # Carga las revisiones de los usuarios
    user_review = pd.read_csv('./datasets/user_reviews.csv')

    # Elimina las filas con valores faltantes en los datos de los juegos
    steam_games.dropna(inplace =True)
    # Convierte el año de lanzamiento a int
    steam_games['Year'] = steam_games['Year'].astype(int)
    # Une los datos de los juegos y las revisiones en 'id'
    func_4 = pd.merge(user_review,steam_games,left_on='item_id',right_on='id',how='inner')
    # Filtra los datos para obtener solo los juegos lanzados en el año dado
    func_4 = func_4[func_4['Year'] ==year]
    # Agrupa los datos por desarrollador 
    mejores_dev = func_4.groupby('developer')['recommend'].sum().reset_index().sort_values(by='recommend',ascending=False)
    # Verifica si no se encontraron desarrolladores con revisiones en ese año.
    if mejores_dev.empty:
        return 'No se encontraron reviews para items que hayan salido ese año'
    else:
        # Obtiene los tres primeros desarrolladores con más recomendaciones
        puesto1 = mejores_dev.iloc[0][0]
        puesto2 = mejores_dev.iloc[1][0]
        puesto3 = mejores_dev.iloc[2][0]
        puestos = {"Puesto 1": str(puesto1), "Puesto 2":str(puesto2), "Puesto 3": str(puesto3)}
        # Devuelve los tres primeros desarrolladores con más recomendaciones
        return puestos

In [104]:
best_developer_year_func(2010)

C:\Users\castr\AppData\Local\Temp\ipykernel_20488\3919920772.py:22: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  puesto1 = mejores_dev.iloc[0][0]
C:\Users\castr\AppData\Local\Temp\ipykernel_20488\3919920772.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  puesto2 = mejores_dev.iloc[1][0]
C:\Users\castr\AppData\Local\Temp\ipykernel_20488\3919920772.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  puesto3 = mejores_dev.iloc[2][0]

{'Puesto 1': 'Firaxis Games,Aspyr (Mac, Linux)',
 'Puesto 2': 'TaleWorlds Entertainment',
 'Puesto 3': 'Obsidian Entertainment'}

In [109]:
def best_developer_year(year: int):
    # Cargar los DataFrames desde archivos CSV
    df = pd.read_parquet('datasets/dfgames.parquet')[['id', 'developer', 'year']]
    df_reviews = pd.read_parquet('datasets/user_reviews.parquet')[['item_id', 'recommend']]

    # Convertir el año a int
    df['year'] = df['year'].astype(int)

    # Filtrar los juegos del año dado
    year_games = df[df['year'] == year].copy()  # Crear una copia explícita del DataFrame

    # Filtrar las reviews de los juegos del año dado que fueron recomendados
    recommended_reviews = df_reviews[(df_reviews['item_id'].isin(year_games['id'])) & (df_reviews['recommend'] == True)]

    # Calcular la cantidad de recomendaciones por juego
    game_recommendations = recommended_reviews['item_id'].value_counts()

    # Asignar la cantidad de recomendaciones a cada juego
    year_games.loc[:, 'recommendations'] = year_games['id'].map(game_recommendations)

    # Calcular la cantidad de recomendaciones por desarrollador
    developer_recommendations = year_games.groupby('developer')['recommendations'].sum()

    # Verificar si no hay desarrolladores con recomendaciones
    if developer_recommendations.empty:
        return "No se encontraron desarrolladores con recomendaciones para ese año."

    # Encontrar el top 3 de desarrolladores
    top_developers = developer_recommendations.nlargest(3)

    # Crear la lista de desarrolladores
    developer_list = [{"Puesto " + str(i+1): developer} for i, developer in enumerate(top_developers.index)]

    return developer_list

In [110]:
best_developer_year(2018)

[{'Puesto 1': 'Ape Law'},
 {'Puesto 2': 'Apillo'},
 {'Puesto 3': 'Avallon Alliance'}]