In [1]:
import pandas as pd

In [14]:
df = pd.read_parquet('datasets/dfgames.parquet')
df_reviews = pd.read_parquet('datasets/user_reviews.parquet')
df_items = pd.read_parquet('datasets/users_item.parquet')

In [10]:
df

,app_name,id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,year
0,Lost Summoner Kitty,761140,Kotoshiro,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,2018
1,Ironbound,643980,Secret Level SRL,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,Real Pool 3D - Poolians,670290,Poolians.com,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,2017
3,弹炸人2222,767400,彼岸领域,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
4,Battle Royale Trainer,772540,Trickjump Games Ltd,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29776,Kebab it Up!,745400,Bidoniera Games,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2018
29777,Colony On Mars,773640,"Nikita ""Ghost_RUS""",0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,2018
29778,LOGistICAL: South Africa,733530,Sacada,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,2018
29779,Russian Roads,610660,Laush Dmitriy Sergeevich,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
29780,EXIT 2 - Directions,658870,"xropi,stev3ns",0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2017

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29781 entries, 0 to 29780
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   app_name                   29780 non-null  object
 1   id                         29781 non-null  int32
 2   developer                  28531 non-null  category
 3   Accounting                 29781 non-null  int32
 4   Action                     29781 non-null  int32
 5   Adventure                  29781 non-null  int32
 6   Animation &amp; Modeling   29781 non-null  int32
 7   Audio Production           29781 non-null  int32
 8   Casual                     29781 non-null  int32
 9   Design &amp; Illustration  29781 non-null  int32
 10  Early Access               29781 non-null  int32
 11  Education                  29781 non-null  int32
 12  Free to Play               29781 non-null  int32
 13  Indie                      29781 non-null  int32
 14  Massively Multiplayer      29781 non-null  int32
 15  Photo Editing              29781 non-null  int32
 16  RPG                        29781 non-null  int32
 17  Racing                     29781 non-null  int32
 18  Simulation                 29781 non-null  int32
 19  Software Training          29781 non-null  int32
 20  Sports                     29781 non-null  int32
 21  Strategy                   29781 non-null  int32
 22  Utilities                  29781 non-null  int32
 23  Video Production           29781 non-null  int32
 24  Web Publishing             29781 non-null  int32
 25  year                       29781 non-null  int32
dtypes: category(1), int32(24), object(1)
memory usage: 3.3+ MB

In [11]:
df_items

    item_id                      item_name  playtime_forever
0        10                 Counter-Strike                 6
1        20          Team Fortress Classic                 0
2        30                  Day of Defeat                 7
3        40             Deathmatch Classic                 0
4        50      Half-Life: Opposing Force                 0
..      ...                            ...               ...
2    346330                   BrainBread 2                 0
3    373330                    All Is Dust                 0
4    388490  One Way To Die: Steam Edition                 3
5    521570          You Have 10 Seconds 2                 4
6    519140                     Minds Eyes                 3

[5153209 rows x 3 columns]

In [13]:
df_reviews

                 user_id  item_id  recommend  posted year  sentiment_analysis
0      76561197970982479     1250       True         2011                   2
1      76561197970982479    22200       True         2011                   1
2      76561197970982479    43110       True         2011                   2
3                js41637   251610       True         2014                   2
4                js41637   227300       True         2013                   2
...                  ...      ...        ...          ...                 ...
49181            wayfeng      730       True         2015                   1
49182  76561198251004808   253980       True         2015                   2
49183        72947282842      730       True         2015                   1
49184          ApxLGhost      730       True         2015                   2
49185  76561198267374962   369200       True         2015                   2

[49186 rows x 5 columns]

In [ ]:
df_reviews

                 user_id  item_id  recommend  posted year  sentiment_analysis
0      76561197970982479     1250       True         2011                   2
1      76561197970982479    22200       True         2011                   1
2      76561197970982479    43110       True         2011                   2
3                js41637   251610       True         2014                   2
4                js41637   227300       True         2013                   2
...                  ...      ...        ...          ...                 ...
49181            wayfeng      730       True         2015                   1
49182  76561198251004808   253980       True         2015                   2
49183        72947282842      730       True         2015                   1
49184          ApxLGhost      730       True         2015                   2
49185  76561198267374962   369200       True         2015                   2

[49186 rows x 5 columns]

In [16]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49186 entries, 0 to 49185
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             49186 non-null  category
 1   item_id             49186 non-null  int32
 2   recommend           49186 non-null  bool
 3   posted year         49186 non-null  int32
 4   sentiment_analysis  49186 non-null  int32
dtypes: bool(1), category(1), int32(3)
memory usage: 1.4 MB

In [17]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5153209 entries, 0 to 6
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int32
 1   item_name         category
 2   playtime_forever  int32
dtypes: category(1), int32(2)
memory usage: 88.8 MB