In [213]:
import pandas as pd

In [224]:
# Cargar los DataFrames desde archivos parquet
df = pd.read_parquet('datasets/dfgames.parquet')[['app_name', 'id']].sample(n=20000)
df_items = pd.read_parquet('datasets/users_item.parquet')[['user_id', 'item_id', 'playtime_forever']].sample(n=20000)

# Unir los dataframes para obtener los nombres de los juegos
df_items = df_items.merge(df, left_on='item_id', right_on='id')

# Eliminar entradas duplicadas
df_items = df_items.drop_duplicates(subset=['user_id', 'item_id'])

# Crear una matriz de calificaciones de usuario-ítem
df_items['user_id'] = df_items['user_id'].astype('category')
df_items['item_id'] = df_items['item_id'].astype('category')

In [225]:
df_items

,user_id,item_id,playtime_forever,app_name,id
0,76561198054627970,9350,232,Supreme Commander,9350
1,76561198046397567,9350,20,Supreme Commander,9350
2,76561198051013415,9350,0,Supreme Commander,9350
3,76561198050711686,9350,0,Supreme Commander,9350
4,HxCSnorlax,9350,0,Supreme Commander,9350
...,...,...,...,...,...
21053,talksmackgetwhacked,-12710,77,Age of Conquest IV,-12710
21055,disposedtrolley,-4226,0,Fractal: Make Blooms Not War,-4226
21056,Hasas1n,-10934,340,Hive,-10934
21057,76561198055335886,18786,85,Battlepillars Gold Edition,18786
21058,brent3000,28136,0,Volt,28136